@using System.Data
@model IEnumerable<DutchTreatTwo.Data.Entities.Product>

<h1>Shop</h1>
<p>Count: @Model.Count()</p>
<div class="row col-md-12">
   @foreach (var p in Model)
   {
      <div class="col-md-4 col-lg-3">
         <div class="border bg-light rounded p-1">
            <img src="~/img/@(p.ArtId).jpg" title="@p.Title" class="img-fluid" />
            <h3>@p.Category - @p.Size</h3>
            <ul>
               <li>Price: @p.Price.ToString("C2")</li>
               <li>Artist: @p.Artist</li>
               <li>Title: @p.Title</li>
               <li>Description: @p.ArtDescription</li>
            </ul>
            <button id="buyButton">Buy</button>
         </div>
      </div>
   }
</div>